@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Josefin Sans", sans-serif;
}

header{
    width: 100%;
    height: 80px;
    z-index: 1;
    background-color: #030c15;
}

.container__menu{
    max-width: 1200px;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.logo{
    height: 100%;
    display: flex;
    align-items: center;
}
.logo img{
    width: 60px;
    border-radius: 50%;
}

.logo p{
    color: #fff;
    font-size: 30px;
    margin-left: 10px;
}

.menu{
    display: flex;
    align-items: center;
}
.menu ul{
    display: flex;
}

.menu ul li{
    list-style: none;
    margin-left: 36px;
}

.menu ul li a{
    text-decoration: none;
    font-size: 14px;
    color: #fff;
    text-transform: uppercase;
    transition: 0.5s;
}
.menu ul li a:hover{
    text-decoration: none;
    font-size: 14px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 900;
    transition: 0.5s;
}
#selected{
    background-color: #092138;
    padding: 13px 40px;
    border-radius: 50px;
}

.menu nav img{
    display: none;
}

.menu #btn_menu{
    display: none;
}

/*responsive para otros dispisitivos*/

@media screen and (max-width: 1200px){
    
    header{
        padding: 40px;
    }
}

@media screen and (max-width: 1000px){
    .menu nav{
        position: fixed;
        top: 0;
        right: -250px;
        background: rgb(5, 5, 5);
        width: 250px;
        height: 100vh;
        padding: 40px;
        z-index: 1;
        transition: all 300ms;
    }
    .menu ul{
        flex-direction: column;
        margin-top: 40px;
    }
    .menu ul li{
        margin-top: 30px;
        margin-left: 0;
    }
    menu ul li a{
        color: #dedede;
    }
    #selected{
        background:none;
        padding: 0;
        border-radius: none;
        color: #f9570c;
    }
    .menu nav img{
        display: block;
        width: 60px;
    }
    #back_menu{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background: rgba(0, 0, 0, 0.5);
        display: none;
    }
    .menu #btn_menu{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 50px;
        height: 50px;
        background: #092138;
        border-radius: 10px;
    }
}






footer {
    background-color: #030c15;
    color: #fff;
    padding: 10px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}
.cal-rut {
    display: inline-block;
    height: 20rem;
    border-radius: 10px;
    transition: 1s;
    margin-bottom: 20px;
}
.cal-rut:hover{
    transform: scale(1.05);
    box-shadow: #f9570c 10px 10px;
}
.div-inicio {
    float: left;
    margin: 50px;
    max-width:300px;
}
.text-cal-rut {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
}
.galeriaInicio{
    display: inline-block;
    max-width: 100%;
}
.contenedorI-divs{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 50px;
}
.parte2 {
    background: rgb(254,254,254);
    background: -moz-linear-gradient(0deg, rgba(254,254,254,1) 0%, rgba(3,12,21,1) 15%, rgba(3,12,21,1) 49%, rgba(3,12,21,1) 85%, rgba(255,255,255,1) 100%);
    background: -webkit-linear-gradient(0deg, rgba(254,254,254,1) 0%, rgba(3,12,21,1) 15%, rgba(3,12,21,1) 49%, rgba(3,12,21,1) 85%, rgba(255,255,255,1) 100%);
    background: linear-gradient(0deg, rgba(254,254,254,1) 0%, rgba(3,12,21,1) 15%, rgba(3,12,21,1) 49%, rgba(3,12,21,1) 85%, rgba(255,255,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#fefefe",endColorstr="#ffffff",GradientType=1);
    height: 200px;
}
.parte2 h2{
    color: #f9570c;
    font-size: 60px;
    text-align: center;
    padding-top: 66px;
}

/* mision y vision*/
.mision_vision{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 50px;
}
.card {
    width: 35%;
    height: 254px;
    background: #030c15;
    transition: all 0.4s;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 5px  rgba(0, 0, 0, 0.705);
    float: left;
    padding: 10px;
    margin: 20px;
}
.card:hover {
    border-radius: 15px;
    cursor: pointer;
    transform: scale(1.2);
    box-shadow: 0px 0px 10px 5px  rgba(0, 0, 0, 0.705);
    background: #f9570c;
}
.first-content {
    height: 100%;
    width: 100%;
    transition: all 0.4s;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
    border-radius: 15px;
    font-weight: 900;
    font-size: 40px;
    color: #f9570c;
}
.card:hover .first-content {
    height: 0px;
    opacity: 0;
}
.second-content {
    height: 0%;
    width: 100%;
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    transition: all 0.4s;
    transform: rotate(90deg) scale(-1);
    color: #030c15;
    text-align: center;
    max-height: auto;
}

.card:hover .second-content {
    opacity: 1;
    height: 100%;
    font-size: 20px;
    transform: rotate(0deg);
}